{% extends 'base.html.twig' %}

{% block title %}Hello FormInstallController!{% endblock %}

{% block body %}

    <h1>Hello {{ FormInstall }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/vang/Documents/Aquapure/Hackapure/src/Controller/FormInstallController.php'|file_link(0) }}">src/Controller/FormInstallController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/vang/Documents/Aquapure/Hackapure/templates/form_install/index.html.twig'|file_link(0) }}">templates/form_install/index.html.twig</a></code></li>
    </ul>

{% endblock %}
