{% extends 'base.html.twig' %}

{% block title %}Hello FormInstallController!{% endblock %}

{% block body %}

    <h1>Installation</h1>

        <h2>Après compteur</h2>



        <h2>Sous évier</h2>



        <h2>Points d'eau</h2>



        <h2>Ressources alternatives</h2>



{% endblock %}
