@import "main";

.mission {
  font-size:0.9em;
  font-weight:normal;
  color:black;
}

.community {
  margin-top: -15px;
}

.aquapure {
  margin-top:-10px;
}

.connexion {
  margin-left: 1.8vw;
}

@media screen and (min-width:900px) {
  .aquapure {
    width:700px;
    height:200px;
  }
}