@import "main";

.mission {
  font-size:0.9em;
  font-weight:normal;
  color:black;
}

.community {
  margin-top: -15px;
}

.aquapure {
  margin-top:-10px;
  height: 230px;
  margin-left: 2.3vw;
}

.connexion {
  margin-left: 1.8vw;
}

@media screen and (min-height:900px) and (max-height: 1100px) {
  .aquapure {
    width:700px;
    height:200px;
    margin-left: 0;
  }
}

@media screen and (max-width : 800px) {
  .aquapure {
    width: auto;
    height: auto;
    margin-left: 0;
  }
}

@media screen and (min-width:900px) and (max-width: 1100px) {
  .aquapure {
    width:700px;
    height:200px;
    margin-left: 0;
  }
}
