@import "main";

.community {
  margin-top: -15px;
}

.connexion {
  margin-left: 1.8vw;
}

.form-control {
  margin-right: 10px;
}

.form-label {
  font-size: 20px;
}

#admin_user_userRole_1 {
  margin-left: 25px;
}
#admin_user_edit_userRole_1 {
  margin-left: 25px;
}
.btn-delete {
  margin-left: 46.8vw;
}

