:root {
  --blue_Logo: #1f5fc9;
  --blue_AP: #28a6ec;
  --blue_AP_dark: #2a93cf;
  --blue_purif: #4c7fd4;
  --grey_Logo: #646363;
  --grey_AP: #6b7579;
  --grey_light_AP: #E6E6E6;
  --yellow_AP: #f9b91e;
  --red_AP: #cc5252;
  --red_light_AP: #f56363;
  --red_econo: #d67575;
  --purple_AP: #c744fd;
  --green_AP: #43c5b8;
  --green_light_AP: #2eb851;
  --green_AP_dark: #2c9244;
  --green_calc: #44aca2;
  --green_ecolo: #56a869;
}

$blue:    #1f5fc9 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
