{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('navbarAdmin') }}
{% endblock %}

{% block navbar %}
    <div class="row row-title-admin">
        <div class="col-sm-2 text-center">
            <a href="" title="Back to the homepage of the site" class="btn btn-primary"><i class="fas fa-arrow-left"></i>  Retour</a>
        </div>
        <div class="col-sm-6 offset-1 text-center mt-1">
            <h1 class="admin-title"><a href="{{ path('form') }}" title="Redirect to the website">ADMINISTRATION AQUAPURE</a></h1>
        </div>
        <div class="col-sm-2 offset-1 hidden-xs col-btn-title text-center">
            <a href="{{ path('logout') }}" title="Log out of the administration area" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i>  Déconnexion</a>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
