{% extends 'base.html.twig' %}

{% block title %}Edit Pollution{% endblock %}

{% block body %}
    <h1>Edit Pollution</h1>

    {{ include('pollution/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pollution_index') }}">back to list</a>

    {{ include('pollution/_delete_form.html.twig') }}
{% endblock %}
