{% extends 'Front/layout.html.twig' %}

{% block stylesheets %}{{ encore_entry_link_tags('bilanPollution') }}{% endblock %}

{% block body %}
    <div class="bilan-pollution container justify-content-center">
        <div class=" row title-bilan-pollution">
            <h1>Bilan pollution de l'eau</h1>
        </div>

        <div class="scale justify-content-center">
            <h2 class="mt-5">Echelle de dureté de l'eau</h2>
            <table class="table mt-3">
                <thead class="thead">
                <tr>
                    <th scope="col">TH (°f)</th>
                    <th scope="col">0 à 7</th>
                    <th scope="col">7 à 15</th>
                    <th scope="col">15 à 30</th>
                    <th scope="col">30 à 40</th>
                    <th scope="col">+ 40</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Eau</th>
                    <td>Très douce</td>
                    <td>Douce</td>
                    <td>Plutôt dure</td>
                    <td>Dure</td>
                    <td>Très dure</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="TDS">
            <h2> votre TDS : {% if  pollution.TDS  < 8 %}
                    <span class="text-success">{{ pollution.TDS }}</span>
                {% elseif pollution.TDS < 15 %}
                    <span class="text-warning">{{ pollution.TDS }}</span>
                {% else %}
                    <span class="text-danger">{{ pollution.TDS }}</span>
                {% endif %}
            </h2>
        </div>

        <div class="row button">
            <div class="pdf col-6">
                <a href="" class="btn btn-pdf" role="button"><i class="fas fa-file-pdf"></i></a>
            </div>
            <div class="proposition col-6">
                <a href="" class="btn btn-proposition" role="button"><i class="fas fa-file-invoice-dollar"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
